
body, html {
 text-align: center;
}
div{
  
  display: flex;
  width: 1500px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}


.app.light {
  background-color: #f0f0f0;
  color: #000000;
}


.app.dark {
  background-color: #000000;
  color: #fff;
}


.theme-toggle {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background 0.3s ease-in-out;
}

.theme-toggle:hover {
  background-color: #0056b3;
}
