.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background: #f4f4f4;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
}

.sidebar ul li .active {
  font-weight: bold;
  color: blue;
}

.dashboard-content {
  padding: 20px;
  flex-grow: 1;
}
